     ADDRESS { font-style: normal; font-family: Courier New,sans-serif;  }
     .BannerBase { font-size: 14pt ; font-weight: bold; margin: 6pt  0pt  6pt  0pt ; font-family: segoe ui semilight,sans-serif;  }
     .Base { font-size: 11pt ; margin: 0pt  0pt  1px  0pt ; font-family: segoe ui semilight,sans-serif;  }
     BODY { font-family: segoe ui semilight,sans-serif;  }
     BQ { margin: 0pt  18pt  1px  18pt ; font-family: segoe ui semilight,sans-serif;  }
     .Bullet1 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Bullet2 { font-size: 11pt ; margin: 0pt  0pt  1px  27pt ; text-indent: -27pt ; font-family: segoe ui semilight,sans-serif;  }
     .Bullet3 { font-size: 11pt ; margin: 0pt  0pt  1px  27pt ; text-indent: -27pt ; font-family: segoe ui semilight,sans-serif;  }
     .Bullet4 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Bullet5 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .ButtonBar { font-size: 8pt ; font-weight: bold; margin: 6pt  0pt  6pt  -0.1in ; font-family: segoe ui semilight,sans-serif;  }
     CODE { font-family: Courier New,sans-serif;  }
     DD { font-family: segoe ui semilight,sans-serif;  }
     .DefaultParagraphFont {  }
     .DefinitionList { margin: 0pt  0pt  1px  18pt ;  }
     .DefinitionTerm { margin: 0pt  0pt  1px  0pt ;  }
     DIR { font-family: segoe ui semilight,sans-serif;  }
     DIR LI { font-family: segoe ui semilight,sans-serif;  }
     DL { font-family: segoe ui semilight,sans-serif;  }
     DT { font-family: segoe ui semilight,sans-serif;  }
     .footnotereference { vertical-align: super;  }
     H1 { font-family: segoe ui semilight,sans-serif;  }
     H2 { font-family: segoe ui semilight,sans-serif;  }
     H3 { font-family: segoe ui semilight,sans-serif;  }
     H4 { font-family: segoe ui semilight,sans-serif;  }
     H5 { font-family: segoe ui semilight,sans-serif;  }
     .H51 { font-size: 11pt ; font-weight: bold; margin: 5pt  0pt  5pt  0pt ;  }
     H6 { font-family: segoe ui semilight,sans-serif;  }
     .HTMLBASE { font-size: 14pt ; margin: 0pt  0pt  1px  0pt ; font-family: segoe ui semilight,sans-serif;  }
     .Hyperlink { text-decoration: underline ; color: #0000ff;  }
     KBD { font-family: Courier New,sans-serif;  }
     LISTING { font-family: Courier New,sans-serif;  }
     MENU { font-family: segoe ui semilight,sans-serif;  }
     MENU LI { font-family: segoe ui semilight,sans-serif;  }
     .Normal { font-size: 14pt ; margin: 5pt  0pt  5pt  0pt ; font-family: segoe ui semilight,sans-serif;  }
     .Number1 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number2 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number3 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number4 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number5 { font-size: 11pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     OL { margin: 0pt  0pt  1px  27pt ; font-family: segoe ui semilight,sans-serif;  }
     OL LI { font-family: segoe ui semilight,sans-serif;  }
     P { font-family: segoe ui semilight,sans-serif;  }
     PRE { font-family: Courier New,sans-serif;  }
     TT { font-family: Courier New,sans-serif;  }
     UL { margin: 0pt  0pt  1px  27pt ; font-family: segoe ui semilight,sans-serif;  }
     UL LI { font-family: segoe ui semilight,sans-serif;  }
     XMP { font-family: Courier New,sans-serif;  }
